
/* ===========================================
	RESETS & BODY STYLES
============================================== */

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-weight: inherit;
	font-style: inherit;
	font-size: 100%;
	font-family: inherit;
	vertical-align: baseline;
	text-align: left;
}
html, body {
	height: 100%;
	width: 100%;
}
body {
	text-align: center;
	color: #000;
	font: 12px/18px Verdana, Tahoma;
	background: #fff;
}
a img, :link img, :visited img {
	border: 0;
}
:link, :visited {
	text-decoration: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
caption, th {
	text-align: left;
}
ol, ul {
	list-style: none;
}
q:before, q:after, blockquote:before, blockquote:after {
	content: "";
}
p {
	padding: 0 0 12px 0;
}
strong {
	font-weight: bold;
	line-height: inherit;
	background: #e6fec0;
}
em {
	font-style: italic;
	line-height: inherit;
}
abbr {
	cursor: help;
	border-bottom: 1px dashed #aaa;
}
.clear {
	clear: both;
}
.clearfix:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}
.clearfix {
	display: block;
}
html[xmlns] .clearfix {
	display: block;
}
* html .clearfix {
	height: 1%;
}
.right {
	float: right;
}
.error {
	color: #FF0000;
}

/* ===========================================
	LINKS
============================================== */

a:link, a:visited {
	color: #0071d0;
}
a:hover {
	color: #fff;
	background-color: #0071d0;
}
a:active {
	color: #0071d0;
}

/* ===========================================
	HEADINGS
============================================== */

h1, h2, h3, h4, h5, h6 {
	font-weight:normal;
	font-family: Arial, Helvetica, sans-serif;
	letter-spacing: -1px;
	margin:0;
	padding:0;
}
h1 {
	color: #0d83dd;
	font-size: 24px;
	line-height: 40px;
	font-weight: bold;
	padding-bottom: 10px;
}
h2 {
	color: #0d83dd;
	font-size: 20px;
	line-height: 40px;
	font-weight: bold;
	padding-bottom: 10px;
}
h3 {
	color: #0d83dd;
	font-size: 18px;
	line-height: 40px;
	font-weight: bold;
	padding-bottom: 10px;
}
/* ===========================================
	CONTAINERS
============================================== */

#header_wrap {
	background: url(images/menu_background.gif) repeat-x 0 0;
	height: 119px;
}
#header {
	width: 780px;
	height: 119px;
	margin: 0 auto;
	position: relative;
	padding-left: 20px;
}

#banner_wrap {
	background: #0f87d2 url(images/homebanner_bg.gif) repeat-x 0 0;
	height: 261px;
	margin-bottom: 40px;
}
body.integrator #banner_wrap {
	background: #fffbe1;
	border-top: 2px solid #d6ce95;
	border-bottom: 2px solid #efebd5;
	height: 85px;
	margin-bottom: 40px;
}

#banner {
	width: 780px;
	margin: 0 auto;
	position: relative;
	padding-left: 20px;
}
#content {
	width: 780px;
	margin: 0 auto;
	position: relative;
	margin-bottom: 40px;
	padding-left: 20px;
}
#footer {
	margin-top:20px;
	background: url(images/footer_background.png) repeat-x;
	min-height: 50px;
	padding-top: 20px;
}
#footer p {
	text-align: center;
}
/* ===========================================
	HEADER
============================================== */
/* 	CONTAINER 
	----------------------------------------------------------------- 

	Everything else fits into this
*/
.container {
  width: 750px;
  margin: 0 auto;
  /*overflow: auto;*/
}



/* 	ADDON HEADER 
	----------------------------------------------------------------- 

	All the code for the addon header
*/
.addon-header {
	height: 36px;
	line-height: 36px;
	color: #ffffff;
	background: #0073ca url(images/background.png) repeat-x;
}

.addon-header .addon-name {
	font-family: Helvetica, Arial, sans-serif;
	font-size: 18px;
	color: #ffffff;
	text-shadow: rgba(0, 0, 0, 0.25) 1px 1px 0px;
}

.addon-header .account {
	float: right;
	margin: 5px 0 0 0;
	padding: 0px 0 0 5px;
	height: 26px;
	line-height: 22px;
	background: url(images/account.png) left no-repeat;
}
.addon-header .account ul {
	padding: 0px 5px 0 0;
	display: block;
	height: 26px;
	background: url(images/account.png) right no-repeat;
}
.addon-header .account li {
	display: block;
	float: left;
	height: 26px;
	padding: 0px 10px;
}
.addon-header .account a {
	font-family: Verdana, sans-serif;
	font-size: 10px;
	font-weight: bold;
	text-decoration: none;
	color: #ffffff;
	text-shadow: rgba(0, 0, 0, 0.25) 1px 1px 0px;
}
.addon-header .account a:hover {
	color: #ceeaff;
}

#header ul {
	float: right;
	padding-top: 3px;
	color: #69a5e0;
}
#header ul li {
	display: inline;
	padding: 0 4px;
}
#header a:link, #header a:visited { 
	color: #fff; 
	text-decoration:none;
	padding: 1px 2px 2px; 
}
#header a:hover { 
	color: #fff;
	background: #59a5e0; 
	text-decoration: none; 
}
#header a:active { 
	color: #fff; 
	text-decoration:none; 
}

/* ===========================================
	BANNER
============================================== */

.banner_title {
	font-size: 32px;
	text-align: center;
	color: #ffffff;
	line-height: 42px;
	font-weight: bold;
	font-family: Arial, Helvetica, sans-serif;
	padding-top: 20px;
}
body.integrator .banner_title {
	color: #000;
	letter-spacing: -1px;
}
.banner_caption {
	font-size: 16px;
	width: 460px;
	text-align: center;
	color: #ffffff;
	line-height: 22px;
	font-weight: normal;
	font-family: Arial, Helvetica, sans-serif;
	padding-top: 40px;
}

/* ===========================================
	BANNER ALERT
============================================== */
.banner_alert {
	position: absolute;
	right: 30px;
	bottom: -2px;
	background-color: #ceffad;
	padding: 5px 10px 9px 10px;
	margin-top: 10px;
	width: 140px;
	line-height: 18px;
}

/* ===========================================
	User Form
============================================== */
#user_form_wrap {
	border: 1px solid #bcbcbc;
	display: block;
	width: 500px;
	margin: 80px auto;
}
#user_form {
	padding: 50px 90px;
	border: 5px solid #ddd;
}
#user_form .login-input {
	position: relative;
	padding: 5px 0px;
}
#user_form label {
	border: none;
	display: block;
	padding-bottom: 3px;
}
#content input.input {
	width: 350px;
	border-top: 1px solid #7c7c7c;
	border-right: 1px solid #c3c3c3;
	border-bottom: 1px solid #c3c3c3;
	border-left: 1px solid #c3c3c3;
	background: #fff url(images/shadow.gif) repeat-x 0 0;
	padding: 4px;
	color: #999;
}
#user_form .login-input .input {
	width: 300px;
	border-top: 1px solid #7c7c7c;
	border-right: 1px solid #c3c3c3;
	border-bottom: 1px solid #c3c3c3;
	border-left: 1px solid #c3c3c3;
	background: #fff url(images/shadow.gif) repeat-x 0 0;
	padding: 4px;
	color: #999;
}
#user_form input.submit {
	margin-top: 15px;
}
.submit {
	color: #fff;
	padding: 3px 4px 4px;
	cursor: pointer;
	background: #0071d0;
	border: none;
	font-weight: bold;
}
.submit:hover { 
	color: #000;
	background: #e6fec0; 
}

p.submit{
	font-weight:normal;
	font-size:12px;
}

/* ===========================================
	API Form
============================================== */
#apiform, #settings-form{
	width:425px;
}

#apiform .submit {
	margin-left: 10px;
}
.api-input {
	padding: 10px 10px;
	margin-bottom: 20px;
}

.api-input label {
	display: block;
	font-size: 14px;
	color: #000;
}
.api-input input {
	border: 1px solid #b8b8b8;
	padding: 4px;
	margin-bottom: 10px;
}
}
.error {
	color: #FF0000;
}

/* ===========================================
	Tags Form
============================================== */
/*#tagform {
	float: left;
	width: 390px;
	position: relative;
	padding-bottom: 20px;
	line-height: 1.5em;

}
*/
#tagform {
	margin-right: 5em;
	width: auto;
}

#tagform .submit {
	margin: 30px 0;
	width:140px;
}
#tagform label {
	position: relative;
	display: inline;
	padding-left: 10px;
	bottom: 1px;
}
#tags label {
	position: relative;
	display: inline;
	padding-left: 10px;
	bottom: 1px;
}
#tagform p {
	padding-left: 15px;
}

/* ===========================================
	Sync Results Table
============================================== */
#sync_results_table{
	width:100%;
}
#sync_results_table tr{
border-top:1px solid #EFEFEF;	
border-bottom:1px solid #EFEFEF;	
}

#sync_results_table th{
	background-color:#D6CE95;
	font-weight: bold;
	padding:5px;
	border-bottom: 1px solid #BCBCBC;
	
}

#sync_results_table td{
	padding:5px 10px;
	color:#666666;
	vertical-align: top;	
}

#sync_results_table tr.alt {
	background-color:#FFFBE1;
	
}
.blue{
	color:#0033CC;
}
.sync_error{
	background-color:#FCEDED;
}
a.submit {
	color:#FFFFFF;
	font-weight:normal;
}

span.error_message{
	display:block;
	padding: 5px;
	clear:both;
	color:#000;
	background:#FFC9BB;
	border:1px solid red;
	margin:10px 0 20px 0;
}

.message{
	padding: 5px;
	clear:both;
	color:#000;
	background:#A3BFFF;
	border:1px solid #0000FF;
	margin:10px 0 20px 0;
}

.input_error{border:1px solid red; background:#FFC9BB;}





